$margin-screens: 'xs' $unit-xs,
'sm' $unit-sm,
'md' $unit-md,
'lg' $unit-lg,
'xl' $unit-xl;

@each $margin-screen, $margin-value in $margin-screens {
  .margin- {
    &-#{$margin-screen} {
      margin: $margin-value !important;
    }

    &negative--#{$margin-screen} {
      margin: $margin-value/-1 !important;
    }

  }

  .margin-horizontal- {
    &-#{$margin-screen} {
      margin-left: $margin-value !important;
      margin-right: $margin-value !important;
    }

    &negative--#{$margin-screen} {
      margin-left: $margin-value/-1 !important;
      margin-right: $margin-value/-1 !important;
    }
  }

  .margin-vertical- {
    &-#{$margin-screen} {
      margin-top: $margin-value !important;
      margin-bottom: $margin-value !important;
    }

    &negative--#{$margin-screen} {
      margin-top: $margin-value/-1 !important;
      margin-bottom: $margin-value/-1 !important;
    }

  }

  .margin-top- {
    &-#{$margin-screen} {
      margin-top: $margin-value !important;
    }

    &negative--#{$margin-screen} {
      margin-top: $margin-value/-1 !important;
    }
  }

  .margin-bottom- {
    &-#{$margin-screen} {
      margin-bottom: $margin-value !important;
    }

    &negative--#{$margin-screen} {
      margin-bottom: $margin-value/-1 !important;
    }
  }

  .margin-left- {
    &-#{$margin-screen} {
      margin-left: $margin-value !important;
    }

    &negative--#{$margin-screen} {
      margin-left: $margin-value/-1 !important;
    }
  }

  .margin-right- {
    &-#{$margin-screen} {
      margin-right: $margin-value !important;
    }

    &negative--#{$margin-screen} {
      margin-right: $margin-value/-1 !important;
    }
  }
}

.no-margin {
  margin: 0 !important;
}

.no-margin--vertical {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.no-margin--horizontal {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.no-margin--bottom {
  margin-bottom: 0 !important;
}

.no-margin--top {
  margin-top: 0 !important;
}

.no-margin--left {
  margin-left: 0 !important;
}

.no-margin--right {
  margin-right: 0 !important;
}

.margin-center {
  margin-left: auto !important;
  margin-right: auto !important;
}
