$padding-screens: 'xs' $unit-xs,
'sm' $unit-sm,
'md' $unit-md,
'lg' $unit-lg,
'xl' $unit-xl;

@each $padding-screen, $padding-value in $padding-screens {
  .padding--#{$padding-screen} {
    padding: $padding-value !important;
  }

  .padding-horizontal--#{$padding-screen} {
    padding-left: $padding-value !important;
    padding-right: $padding-value !important;
  }

  .padding-vertical--#{$padding-screen} {
    padding-top: $padding-value !important;
    padding-bottom: $padding-value !important;
  }

  .padding-top--#{$padding-screen} {
    padding-top: $padding-value !important;
  }

  .padding-bottom--#{$padding-screen} {
    padding-bottom: $padding-value !important;
  }

  .padding-left--#{$padding-screen} {
    padding-left: $padding-value !important;
  }

  .padding-right--#{$padding-screen} {
    padding-right: $padding-value !important;
  }
}

.no-padding {
  padding: 0 !important;
}

.no-padding--vertical {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.no-padding--horizontal {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.no-padding--bottom {
  padding-bottom: 0 !important;
}

.no-padding--top {
  padding-top: 0 !important;
}

.no-padding--left {
  padding-left: 0 !important;
}

.no-padding--right {
  padding-right: 0 !important;
}
