.lowercase, .text-lowercase {
  text-transform: lowercase !important;
}

.uppercase, .text-uppercase {
  text-transform: uppercase !important;
}

.capitalize {
  text-transform: lowercase !important;
  &:first-letter {
    text-transform: uppercase !important;
  }
}

.text-center {
  text-align: center !important;
}

.text-justify {
  text-align: justify !important;
}

.text-end {
    text-align: end !important;
}

.text-nowrap {
  white-space: nowrap !important;
}

// Transformation
.text-capitalize {
  text-transform: capitalize !important;
}

.text-transform-none {
  text-transform: none !important;
}

.titlecase {
  text-transform: lowercase !important;
  &:first-letter {
    text-transform: uppercase !important;
  }
}

.transform-none {
  text-transform: none !important;
}

.text-selectable {
  -webkit-user-select: all !important;
  -moz-user-select: all !important;
  -ms-user-select: text !important;
  user-select: all !important;
  * {
    -webkit-user-select: all !important;
    -moz-user-select: all !important;
    -ms-user-select: text !important;
    user-select: all !important;
  }
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.italic {
  font-style: italic !important;
}

.bold {
    font-weight: $font-bold;
}
